<div class="container-fluid">
  <div class="row" style="height: 5vh;"></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <md-card class="login_details">
        <label style="text-align: left" for="name">Name</label>
        <input mdInput type="text" class="full-width" id="name" name="name" [(ngModel)]="visitor['name']" />
        <label style="text-align: left" for="name">Phone No</label>
        <input mdInput type="text" class="full-width" id="phone" name="phone" [(ngModel)]="visitor['phone']" />
        <label style="text-align: left" for="name">email</label>
        <input mdInput type="email" class="full-width" name="email" [(ngModel)]="visitor['email']" />
      </md-card>
    </div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <md-card class="login_details" style="padding-top:0px;">
        <label style="text-align: left" for="name">Message</label>
        <textarea name="message" rows="8" class="full-width" [(ngModel)]="visitor['message']"></textarea>
      </md-card>
      <button md-raised-button color="primary" (click)="sendVisitorDetails()">Send</button>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
