<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table>
        <caption>Subscribers List</caption>
        <thead>
          <tr>
            <th>
              <m-icon [iconName]="'ic_add_box_black_24px'"></m-icon>
            </th>
            <th>api_token</th>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
            <th>message</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of userList; let i=index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{item['api_token']}}</td>
              <td>{{item['name']}}</td>
              <td>{{item['email']}}</td>
              <td>{{item['phone']}}</td>
              <td>{{item['message']}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
