@import 'src/styles.scss';

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 0px solid mat-color($candy-app-primary, A200);
  text-align: left;
  padding-left: 2px;
  height: 20px;
}