@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
@include mat-button-theme($candy-app-theme);
@include mat-checkbox-theme($candy-app-theme);

.input-label {
  color:mat-color($candy-app-primary);
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h3.heading{
  border-bottom:1px solid mat-color($candy-app-primary);
  margin-bottom:10px;
  margin-top:10px;
}
h4.heading{
  border-bottom:1px solid mat-color($candy-app-primary);
  margin-bottom:10px;
  margin-top:10px;
}
h5.heading{
  border-bottom:1px solid mat-color($candy-app-primary);
  margin-bottom:10px;
  margin-top:10px;
}
.bbrdr{
  border-bottom: 1px solid mat-color($candy-app-primary, A100);
}
table.btable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.btable td {
  border: 1px solid mat-color($candy-app-primary, A200);
  text-align: left;
  padding-left: 2px;
  font-size: 12px;
}
.btable th {
  border: 1px solid mat-color($candy-app-primary, A200);
  text-align: left;
  padding-left: 2px;
  font-size: 12px;
}

table.bltable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.bltable td {
  border: 0px solid mat-color($candy-app-primary, A200);
  text-align: left;
  padding: 5px;
  padding-left: 2px;
  font-size: 12px;
  height: 30px;
}
.bltable th {
  border: 0px solid mat-color($candy-app-primary, A200);
  text-align: left;
  padding: 5px;
  padding-left: 2px;
  font-size: 12px;
  height: 30px;
}
.bltable tr:hover{
  background: mat-color($candy-app-primary, A200);
  cursor: pointer;
}


.greyborder td{
  border: 1px solid lightgray;
  text-align: left;
  padding-left: 2px;
  font-size: 12px;
}
.greyborder  th {
  border: 1px solid lightgray;
  text-align: left;
  padding-left: 2px;
  font-size: 12px;
}
.index {
  background-color: mat-color($candy-app-primary);
}
.index:active{
  background-color: mat-color($candy-app-warn);
}
.spacer {
  flex: 1 1 auto;
}
.example-spacer {
  flex: 1 1 auto;
}
.inp{
  width:100%;
  border:0px;
}
.full-width{
  width:100%;
}
.search-box{
  padding:10px;
}
.flex-box{
  display: inline-flex;
}
.float-right{
  float: right;
  text-align: end;
}
.align-right{
  text-align: right
}
.overflow{
  overflow-y:auto;
}
.auto-table{
  width: auto;
}
.test-border{
  border:1px solid mat-color($candy-app-primary);
}
.b-margin{
  margin-bottom:10px;
}
.bborder{
  border-bottom: 1px solid mat-color($candy-app-primary);
}
.zero-padding{
  padding: 0px;
}

.sscroll{ width:400px;
  /*height:200px;*/
  background-color: white;
}
.sscroll{
  scrollbar-face-color: #009688;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.sscroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.sscroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

/* Handle */
.sscroll::-webkit-scrollbar-thumb {
  background: rgba(0,150,136,1);
  -webkit-box-shadow: inset 0 0 6px mat-color($candy-app-primary, A200);
}


//ul.sub-task li{list-style-type:none;}
//ul.sub-task li:before{content:'\00b7'; font-size:100px; line-height:24px; vertical-align:middle;}
ul.sub-task li {
  color: red;
  font-size: 30px;
  line-height: 24px;
  vertical-align:middle;
  list-style-type: square;
}
ul.sub-task li > Span {
  color: black;
  font-size: 14px;
  line-height: 24px;
  vertical-align:middle;
}
ul.sub-task li > Span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
span.parent-task:hover{
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
/* this section is panels used in project heirarchy */
.panel-danger .panel-heading{
  background-color: mat-color($candy-app-warn);
  border-bottom: 0px solid #B71C1C;
  color: white;
}
.panel-warning .panel-heading{
  background-color: mat-color($candy-app-accent);
  border-bottom: 0px solid #B71C1C;
  color: white;
}
.panel-primary .panel-heading{
  background-color: mat-color($candy-app-primary);
  border-bottom: 0px solid #B71C1C;
  color: white;
}
.panel-danger .panel-body{
  border: 1px solid mat-color($candy-app-warn);
  border-top: 1px solid mat-color($candy-app-warn);
  height: 40vh;
  overflow-y:auto;
}
.panel-warning .panel-body{
  border: 1px solid mat-color($candy-app-accent);
  border-top: 1px solid mat-color($candy-app-accent);
  height: 40vh;
  overflow-y:auto;
}
.panel-primary .panel-body{
  border: 1px solid mat-color($candy-app-primary);
  border-top: 1px solid mat-color($candy-app-primary);
  height: 40vh;
  overflow-y:auto;
}
.panel-default .panel-body{
  height: 10%;
}
/*  end of css for projct hierarchy */
/* css for file-upload-- */
.my-drop-zone {
  border: dotted 3px mat-color($candy-app-primary);
  text-align: center;
  margin-top: 2%; /* Add a top margin to avoid content overlay */
  padding: 30px;
}
.nv-file-over {
  border: dotted 3px red;
}
/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}
/* end of css for file-upload-- */
.inpwidth {
  width:3em;
}
.pagination {
  display: inline-flex;
  margin: 0px;
}
/* end of css for pagination */
button{
  background-color: mat-color($candy-app-primary);
}
.btn-success, .btn-primary{
  background-color: mat-color($candy-app-primary);
  color: white;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0px;
}
.btn-warning{
  background-color: mat-color($candy-app-accent);
  color: white;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0px;
}
.btn-danger{
  background-color: mat-color($candy-app-warn);
  color: white;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 0px;
}
.btn-icon{
  padding: 3em;
}
.flexcroll{ width:400px;
  height:200px;
}
.flexcroll{
  scrollbar-face-color: #367CD2;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #FFFFFF;
}
/* Let's get this party started */
.flexcroll::-webkit-scrollbar {
  width: 12px;
}
/* Track */
.flexcroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
.flexcroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
